<!-- Zachary Donnelly - CS4300 HW2 -->
{% extends 'booking/base.html' %}

{% block title %} Your Booking History {% endblock %}

{% block content %}
<h2>Your Booking History</h2>

{% if bookings %}
    <div class="list-group">
        {% for booking in bookings %}
            <div class="list-group-item">
                <h5>{{ booking.movie.title }}</h5>
                <p>Seat: {{ booking.seat.number }}</p>
                <p>Date of Booking: {{ booking.date }}</p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>You have no bookings yet.</p>
{% endif %}

{% endblock %}}